/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

img {
    width: 100%;
    display: block;
}

/* 
    GENERAL
*/

.my-container {
    width: 100vw;
    /* height: 100vh; */
    background-color: #073C4D;
}

.my-container h1 {
    color: white;
    font-size: 5rem;
}


.my-container .col .my-card {
    width: 100px;
    height: 100px;
}

.card-container div {
    margin: 10px;
}

.bg-card {
    background-color: #1389B2;
}

.bg-fizz { 
    background-color: #0CD7A1;
}

.bg-buzz { 
    background-color: #FFD166;
}

.bg-fizzbuzz { 
    background-color: #F0466F;
}

